.search-weather{
    box-sizing: border-box;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 3rem;
    font-size: 1.1rem;
    outline: none;
    width: 50%;
}

.search-button{
    box-sizing: border-box;
    border: none;
    border-radius: 0 10px 10px 0;
    height: 3rem;
    color: #fff;
    background-color: #00a0dd;
    cursor: pointer;
    font-size: 1.1rem;
}

@media (max-width:680px) {
    .search-weather{
        width: 70%;
    }
}

@media (max-width:290px) {
    .search-weather{
        width: 80%;
        border-radius: 10px;
        align-self: center;
    }

    .search-button{
        width: 50%;
        align-self: center;
        border-radius: 10px;
    }
}