.day-precipitation{
    font-size: .8rem;
    text-align: center;
    margin: 5px 0;
    color: white;
    text-shadow: 0 0 5px black;
}

@media (max-width:680px) {
    .day-precipitation{
        font-size: .7rem;
    }
}