.day-phrase{
    text-align: center;
    margin: 5px 0;
    font-size: .8rem;
    text-transform: capitalize;
    color: #12a0dd;
}

@media (max-width:680px) {
    .day-phrase{
        font-size: .7rem;
    }
}