.main-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 0 5px #ddd;
    font-size: 1.2rem;
}

@media (max-width:450px) {
    .main-container{
        width: 90%;
        justify-content: center;
        padding: 0;
        align-items: center;
        align-self: center;
        font-size: 1rem;
    }
}

@media (max-width:680px) {
    .main-container{
        margin: 0;
        padding: 0;
        justify-content: center;
        width: 90%;
        align-self: center;
    }
}

@media (max-width:380px) {
    .main-container{
        flex-direction: column;
    }
}