.main-container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 5px #ddd;
}

@media (max-width:680px) {
    .main-container{
        margin: 0;
        padding: 0;
        justify-content: flex-start;
    }
}