.hourlyForecast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto hidden;
}


@media (max-width: 1370px) {
    .hourlyForecast{
        justify-content: flex-start;
    } 
}