.hourlyForecast{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto hidden;
}

@media (max-width:680px) {
    .hourlyForecast{
        justify-content: flex-start;
    }
}